node_modules
.eslintrc
.prettierrc.json
.babelrc
.gitignore
package.json
pnpm-lock.yaml
package-lock.json
Dockerfile
webpack.config.js
public
src/frontend/public
src/frontend/template
README.md
template
